.site-header .container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    width: 1248.27px;
    height: 45.55px;
    margin-top: 24.45px;
    margin-left: 97.64px;
}

.logo {
    height: 45.32px;
    width: 104.3px;
}

.site-header .function {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 386.25px;
    height: 41px;
    left: 757.72px;
    align-items: center;
}

.site-header .function .text01 {
    color: #FFFFFF;
    font-family: 'Hind';
    font-weight: 400;

}

.site-header .function .btnContact {
    margin-left: 29px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.site-header .function .btnContact .contact {
    width: 105px;
    height: 41px;
}

.site-header .function .btnContact .textContact {
    position: absolute;
    margin-left: 15.67px;
    font-size: 16px;
    font-weight: 400;
}

.site-header .function .btnContact .arrow {
    position: absolute;
    margin-left: 77.02px;

}

.site-header .function .search,
.profile,
.option {
    margin-left: 29px;

}